<!DOCTYPE html>
<!-- BERKELEY INNOVATION INDEX -- AUTOMATIC PROJECT GENERATOR -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  
  <!-- BII AUTOMATIC PROJECT GENERATOR -->
  <title>Project Generator</title>
    <style type="text/css"> @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
      .button1:hover {
        background-color: #09a9e2 !important;
      }
      a:hover {
        text-decoration: none;
      }
    </style>   
</head>




<!-- _________________"OUTER SHEET"_________________ -->
<body bgcolor="FFFFFF" lang="en" style="padding: 0; margin: 0;">



  <!-- _________________"INNER SHEET"_________________ --> 
  <table width="100%" cellpadding="12" cellspacing="0" border="0"> 
    <tbody><tr>
      <td valign="top" bgcolor="f4f5f6" width="100%">      
        <!-- _________________MODULES CONTAINER_________________ -->
        <table width="100" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:500px" align="center">
          <tbody><tr>
            <td role="modules-container" style="padding: 0px 0px 0px 0px; color:4a4a4a; text-align:left" bgcolor="f4f5f6" width="100%" align="left">
              <!-- _________________MODULE CONTENT_________________ -->
              <table role="module" border="0"  cellpadding="0" cellspacing="0" width="100%" style="display:none!important; opacity:0; color:transparent; height:0; width:0">
                <tbody><tr>
                  <td role="module-content">
                    <p></p>
                  </td>
                </tr></tbody>
              </table>
            
        
        
              <!-- _________________ORANGE BOX_________________ -->
              <table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" align='center' style="table-layout:fixed;max-width:500px">
        <!-- _________________MOD. - COMMENT_________________ -->   
          <tbody><tr>
                <td style="background-color:#EFEFEF; padding:0px; line-height:12px; text-align:inherit; font-family:'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif" height="100%" valign="top" bgcolor="#FFFFFF">
                 <!-- note to administrator -->
                 <div style="box-sizing:content-box;margin-top:20px;margin-left:0px; padding: 0px 20px 0px 20px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;line-height:1rem;font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#E26130" align="center">
                         Forward this email to anyone you would like to track as part of this group.
                    </div>
                  </td>
              </tr></tbody>
          
          <!-- _________________MOD.1 - BII ICON_________________ -->  
              <tbody><tr>            
                  <td style="background-color:#EFEFEF; padding:5px" valign="top" align="left"></td>                  
                </tr></tbody>
        <tbody><tr>
                  <td style="background-color:#E26130; padding:0px 0px 0px 0px" valign="top" align="left">
                    <a href="https://berkeleyinnovationindex.org" target="_blank">
                      <img src="https://berkeleyinnovationindex.org/wp-content/uploads/2018/07/biiLogo_white-1.png" alt="" width="90%" align="left" style="display: inline;margin-top:0px;margin-bottom:0px;"> 
                    </a>  
                  </td>                  
                </tr></tbody>
              </table>
              <!-- _________________END - MOD.1 - BII ICON_________________ -->
        
              <!-- _____MOD.2 Header_____ -->
              <tbody><tr> 
              <td style="background-color:#E26130; padding:0px 50px 10px 50px; line-height:25px; text-align:inherit; font-family:'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif" width="100%" valign="top" color="#FFFFFF"> 
                <div style="box-sizing:content-box; font-style:normal; font-varian-ligatures:normal; font-variant-caps:normal; line-height:1.5rem; color:#FFFFFF">
          <span style="font-size:18px; font-style:normal; font-family:open sans, arial,helvetica,sans-serif; font-varian-ligatures:normal; font-variant-caps:normal;text-align:center;color:#FFFFFF">
            <a style="font-family:helvetica,sans-serif;font-size:18px;font-weight:bold;color:#FFFFFF"> 
                <strong>YOU'VE BEEN INVITED TO COMPLETE A BII SURVEY</strong>
            </a>
                </span>
                </div>
              </td>
            </tr></tbody>
        
            <!-- _____MOD.3 Body_____ -->
          <tbody><tr>
        <td style="background-color:#E26130; padding:0px; line-height:14px; text-align:inherit; font-family:'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif" width="100%" valign="top" bgcolor="#E26130"> 
                <div style="box-sizing:content-box; font-style:normal; font-varian-ligatures:normal; font-variant-caps:normal; color:#5C6D7B">
                    <!--project code--> 
          <div style="box-sizing:content-box;padding:10px 50px 10px 50px;margin-top:10px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;line-height:1rem;font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#FFFFFF">
            <strong>Following is your Project Code.&nbsp;</strong>
                    </div>
          <div style="box-sizing:content-box;margin-top:px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;line-height:1rem;font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;color:#FFFFFF; padding:10px 50px 10px 50px" align="left">
            <a style="font-family:helvetica,sans-serif;font-size:18px;font-weight:bold;color:#FFFFFF"> 
                {{invCode}}&nbsp;
            </a>
                    </div>
                   
            
                      
                    <!-- survey link -->
          <div style="box-sizing:content-box;padding:10px 50px 10px 50px; margin-top:15px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;line-height:1rem;font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#FFFFFF">
            <strong>To be redirected to your assigned survey, please click on the following.&nbsp;</strong>
                    </div>                  
          <table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" align='center' style="table-layout:fixed;max-width:500px">
                      <tbody><tr>
                <td style="font-size:6px; line-heigh:10px; font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;line-height:10px;background-color:#E26130; padding:10px 50px 10px 50px;" valign="top" align="left">
                <a style="background-color:#FFFFFF; border:1px solid #333333; border-color:#ffffff;border-radius:5px;border-width:2px;color:#E26130;display:inline-block;font-family:helvetica,sans-serif;font-size:18px;font-weight:bold;letter-spacing:0px;line-height:16px;padding:6px 20px;text-align:center;text-decoration:none; align:center; margin-top:0px; margin-bottom:50px" href={{typeform_ulr}} target="_blank">
                            Take me to my survey
                          </a>  
                    </td>                  
                      </tr></tbody>
                    </table>
          </div>
        </td>
        </tr></tbody>
        

        
        <!-- _________________MOD.4 LEGAL_________________ -->
                <table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" align='center' style="table-layout:fixed;max-width:500px">
                  <tbody><tr>
            <td style="font-size:9px; line-heigh:9px; font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;line-height:12px;background-color:#EFEFEF; padding:50px 20px 10px 20px; line-heigh:1.5rem " valign="top" align="center">
              <span style="color:rgb(169,169,169); font-family:open sans, arial,helvetica,sans-serif;font-size:9px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;text-align:center">
                                            Please read this notice carefully before reviewing the contents herein. 
                                            The Berkeley Innovation Index (BII) is a set of online assessments designed to help people to understand their current capacity for innovation, to diagnose their innovation challenges, and to enable the development of an innovation mindset.
                                            By receipt of this email, you have agreed to the following: 
                                            (1) That you will only use these Assessments in the manner for which they are designed.
                                            (2) That your use of these Assessments is for legitimate purposes only. 
                                            (3) You agree not to use Assessment results to cause or intend to cause distress or harm to any third party.
                                            (4) That you will not copy, redistribute, disassemble, decompile, modify or merge the contents of this assessment into other materials.
                                            Moreover, you agree to indemnify and hold the University of California, Berkeley; 
                                            the Sutardja Center for Entrepreneurship &amp; Innovation (SCET) and members of the SCET team;
                                            the Berkeley Innovation Index (BII) and members of the BII team; 
                                            and all of their affiliates harmless from, and to defend against any and all liability and costs, including reasonable attorney’s fees incurred by such parties, in connection with or arising out of your 
                                            (A) violation or breach of any term of this agreement, or any applicable law or regulation, whether or not referenced herein, or 
                                            (B) violation of any rights of any third party, 
                                            or (C) misuse of these assessments.
                      </span>   
                    </td>                  
                  </tr></tbody>
                </table>
       
        
            <!-- _________________MOD.5 SCET ADDRESS_________________ -->
            <table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" align='center' style="table-layout:fixed;max-width:500px">
                  <tbody><tr>
                    <td style="font-size:16px; line-heigh:10px; font-family:'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;line-height:10px;background-color:#EFEFEF; padding:10px" valign="top" align="center">
                      <div style="font-size:13px;line-height:100%;margin-bottom:10px;text-align:center">
                        <span style="color:rgb(169,169,169);font-family:open sans, arial,helvetica,sans-serif;font-size:9px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;text-align:center">
                          Sutardja Center for Enterpreneurship &amp; Technology 
                          <br> 
                          2227 Piedmont Avenue, Berkeley CA 94720
                      </span>
                    </div>                             
                  </td>
                </tr></tbody>
              </table>                
      </td>
          </tr></tbody>
        </table>
      </td>
    </tr></tbody>
  </table>
</body>
